// {
//   "presets": ["next/babel"],
//   "plugins": [["styled-components", { "ssr": true }]]
// }
{
  "presets": [
    "next/babel",
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    ["styled-components", { "ssr": true }],
    ["styled-jsx/babel"],
    ["@babel/plugin-transform-runtime"],
    [
      "babel-plugin-root-import",
      {
        "paths": [
          // { "rootPathSuffix": ".", "rootPathPrefix": "~/" },
          {
            "rootPathSuffix": "./src/components",
            "rootPathPrefix": "@components/"
          },
          {
            "rootPathSuffix": "./src/common/styles",
            "rootPathPrefix": "@styles/"
          }
        ]
      }
    ]
  ]
}
