.container {
  padding: 0 2rem;
}

.main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: #bdbbbb;
}

.title {
  margin: 0;
  color: #0070f3;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 600px) {
  .title {
    font-size: 1rem;
  }
}
